// .met-table-container {
//  // width: 50px;
//   //height: 50px;
//   background-color: rgb(206, 157, 157);
//   border-color: green;
//   padding: 2px;
// }


.title {
    background-color: rgb(118, 148, 246);
    text-align: center;
    padding: 10px;
    margin: 0;
}

.home-container {
  background-color: black;
}
