.row {
  background-color: lightgray;
  padding: 3px;
  border-color: blue;
  border: 30px;
  margin: 2px;
  display: flex;
  flex-direction: row;
 
  span {
    display: none;
  }

  div {
    width: 150px;
    margin: 1px;
    border:1px;  
  }

  .mass, .name {
    display: flex;
    width: 200px;
  }
    
  &:nth-child(even) {background: white}
    
  .label {
    display: none;
  }
}



@media only screen and (max-width: 480px) {
  .row {
    flex-direction: column;

    .label {
      display: block;
      width: 100%;
      
    }

    .element {
      text-align: right;
    }
  }
}
